---

const { content } = Astro.props;

---

<article class='prose-slate w-sm md:w-prose md:prose poppins' style="width: 100%; max-width: none;">
  <a href='/blog/' title='Back to blog'>&larr; Volver al catálogo</a>
  <p class='text-slate text-sm md:text-base'>
    Disponible desde el {content.pubDate}
  </p>
  <slot />
  <!--<p class='text-slate'>Written by {content.author}</p>-->
  <a href='/blog/' title='Back to blog'>&larr; Volver al catálogo</a>
</article>
